body {
    background-image: url("friends.JPG");
    background-color: #3253;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    text-align: center;
    font-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.container {
    width: 80%;
    margin: 50px auto;
    padding: 30px;
    background-color: #f4f4f4;
    border-radius: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 3px solid black;
}
.member-title {
    display: inline-block;
    border: 2px solid black;
    padding: 8px 20px;
    background-color: white;
    border-radius: 35px;
    margin-top: 40px;
}
a {
    text-decoration: none;   
    color: white;
    background-color: #24292e;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s ease;
}
a:hover {
    text-decoration: underline;
    color: orange;
    transition: 0.3s;
}
.container h1 {
    margin-bottom: 3%;
}
.container h5 {
    margin-top: 3%;
}
